In [3]:
import pandas as pd

In [52]:
df = pd.read_csv('Billboard.csv')
df.columns = ['Song','Artist','Weeks On #1','Week On Chart','Peak Rank']
df.describe()

       Weeks On #1  Week On Chart    Peak Rank
count  1951.000000    1951.000000  1951.000000
mean      0.099949      11.375192    51.103024
std       0.965431      11.893186    29.148605
min       0.000000       0.000000     1.000000
25%       0.000000       0.000000    27.000000
50%       0.000000       8.000000    52.000000
75%       0.000000      20.000000    76.000000
max      16.000000      59.000000   100.000000

In [29]:
print(df.loc[df['Weeks On Chart'].idxmax(),['Song','Artist','Weeks On Chart']])
print(df.loc[df['Weeks On #1'].idxmax(),['Song','Artist','Weeks On #1']])

Song              Shape Of You
Artist              Ed Sheeran
Weeks On Chart              59
Name: 927, dtype: object
Song                                                   Despacito
Artist         Luis Fonsi & Daddy Yankee Featuring Justin Bieber
Weeks On #1                                                   16
Name: 934, dtype: object

In [24]:
future = df.loc[df['Artist']=='Future','Song']
print(future)
print(len(future))

226               Commas
333           Blow A Bag
416               Jersey
481             Rich $ex
508           Stick Talk
550        Fly S**t Only
632               Wicked
986                Draco
987             Mask Off
989           Rent Money
991        Super Trapper
992                 Zoom
1284        Feed Me Dope
1288           4 Da Gang
1624            Wifi Lit
1626             31 Days
1627     Cuddle My Wrist
1629          Racks Blue
1925          Crushed Up
1933     Jumpin On A Jet
1939          Never Stop
1942          Temptation
1943         Rocket Ship
1945                 F&N
1950    Call The Coroner
Name: Song, dtype: object
25

In [26]:
lilbaby = df.loc[df['Artist']=='Lil Baby','Song']
print(lilbaby)
print(len(lilbaby))

1336               My Dawg
1538             Southside
1773         Close Friends
1782              Deep End
1851          Pure Cocaine
1867           Crush A Lot
1869                Global
1870    Word On The Street
Name: Song, dtype: object
8

In [41]:
d = df.loc[df['Weeks On Chart'] >= 52,['Song','Artist','Weeks On Chart']]
print(len(d))
print(d)

21
                         Song  \
2                Uptown Funk!
3           Thinking Out Loud
26               Stay With Me
85          Shut Up And Dance
140                Trap Queen
204             See You Again
251              Stressed Out
278                  Stitches
424                   Perfect
553         Don't Let Me Down
558             Cheap Thrills
672   Can't Stop The Feeling!
750                    Closer
832      Say You Won't Let Go
859        That's What I Like
927              Shape Of You
934                 Despacito
958                  Believer
1092                  Thunder
1282              Meant To Be
1501              Wake Me Up!

                                                 Artist  Weeks On Chart
2                      Mark Ronson Featuring Bruno Mars              56
3                                            Ed Sheeran              58
26                                            Sam Smith              54
85                                        WALK THE MOON              53
140                                           Fetty Wap              52
204                  Wiz Khalifa Featuring Charlie Puth              52
251                                   twenty one pilots              52
278                                        Shawn Mendes              52
424                                       One Direction              57
553                     The Chainsmokers Featuring Daya              52
558                             Sia Featuring Sean Paul              52
672                                   Justin Timberlake              52
750                   The Chainsmokers Featuring Halsey              52
832                                        James Arthur              52
859                                          Bruno Mars              52
927                                          Ed Sheeran              59
934   Luis Fonsi & Daddy Yankee Featuring Justin Bieber              52
958                                     Imagine Dragons              52
1092                                    Imagine Dragons              52
1282                  Bebe Rexha & Florida Georgia Line              52
1501                                             Avicii              54

In [38]:
ts = df.loc[df['Artist']=='Taylor Swift',['Song','Weeks On Chart','Weeks On #1']]
print(len(ts))
print(ts)

13
                          Song  Weeks On Chart  Weeks On #1
0                  Blank Space              36            7
10                Shake It Off              50            0
103                      Style              32            0
169                 Wonderland               0            0
180            You Are In Love               0            0
190              New Romantics               8            0
371             Wildest Dreams              27            0
514           Out Of The Woods              10            0
1213  Look What You Made Me Do              20            3
1236          ...Ready For It?              20            0
1280                  Gorgeous               4            0
1297     Call It What You Want               2            0
1438                  Delicate              35            0

In [50]:
svg = df.loc[df['Artist']=='21 Savage',['Song','Weeks On Chart','Weeks On #1']]
print(len(svg))
print(svg)

10
                        Song  Weeks On Chart  Weeks On #1
909                 Red Opps               5            0
1161            Bank Account              29            0
1896                   A Lot               5            0
1903  Can't Leave Without It               4            0
1905          All My Friends               2            0
1906            Break Da Law               0            0
1907                     1.5               0            0
1908       Out For The Night               0            0
1909               Gun Smoke               0            0
1911                    ASMR               0            0

In [40]:
ed = df.loc[df['Artist']=='Ed Sheeran',['Song','Weeks On Chart','Weeks On #1']]
print(len(ed))
print(ed)

13
                                Song  Weeks On Chart  Weeks On #1
3                  Thinking Out Loud              58            0
18                             Don't              36            0
927                     Shape Of You              59           12
928               Castle On The Hill              33            0
984       How Would You Feel (Paean)               2            0
1001                            Dive               2            0
1002                     Galway Girl               5            0
1004                         New Man               0            0
1005             Supermarket Flowers               0            0
1006                 What Do I Know?               0            0
1007                          Eraser               0            0
1008  Hearts Don't Break Around Here               0            0
1009                       Barcelona               0            0